

h2{
   font-size: 17pt;
   padding-top: 60%;
   margin-bottom: 0%; 
}

.orange{
    color: #FF9900;
}

.middle{
    margin-top: 0%;
    font-size: 36pt;
    padding-bottom: 50%;
}

.swipe{
    margin-top: 40%;
    font-size: 10pt;
    margin-bottom: 20%;
}

img{
    width: 50%;
    height: 50%;
    margin-top: 60%;
    margin-bottom: 5%;

}

.grade_title{
    font-size: 15pt;
    font-weight: bold;
}

.grade_content{
    font-size: 10pt;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}




 