
  <ion-content fullscreen padding scroll-y="false">

  <ion-slides pager="true">
    <ion-slide>
      <ion-grid fixed>

      <h2>Welcome to</h2>
      <h1 class="middle">My<span class="orange">TA</span>Space</h1>
      <h1 class="swipe">Swipe right to go through user guide.</h1>


     
      </ion-grid>
    </ion-slide>

    <ion-slide>
      <ion-grid fixed>

      <img src="assets/person.png">
      <h1 class="title">This is a <span class="orange">grading</span> app.</h1>
      <h1 class="content">MyTASpace is a grading application designed for Teaching Assistants at Wildrid Laurier University. It focuses on creating a easier way to mark students on mobile devices.</h1>


     
      </ion-grid>
    </ion-slide>
    
    
    <ion-slide>
      <ion-grid fixed>

          <img src="assets/night.png">
          <h1 class="title">We have <span class="orange">dark</span> mode.</h1>
          <h1 class="content">Other than default color mode, MyTASpace also comes with a dark mode. It is a better user interface to use during night time. </h1>

      </ion-grid>
      
    </ion-slide>

    <ion-slide>
        <ion-grid fixed>
  
            <img src="assets/technical-support.png" class="image_size2">
            <h1 class="title">Help us <span class="orange">improve</span>.</h1>
            <h1 class="content">If you encounter any problem while using MyTASpace, please send an error report to our development team. These reports help us improve and perfect our application over time. We really appreciate that!</h1>
  
        </ion-grid>
        
    </ion-slide>   

    <ion-slide>
        <ion-grid fixed>
  
            <img src="assets/search.png">
            <h1 class="title">More <span class="orange">resources</span>!</h1>
            <h1 class="content">MyTASpace provides a collection of useful links for Laurier students! For instance, MyLearningSpace and Visual Schedule Builder. They all can be accessed easily within the app.</h1>
  
        </ion-grid>
        
    </ion-slide>        
    

    <ion-slide> 
      <ion-grid>  

       
      <h1 class="logo">My<span class="orange">TA</span>Space</h1>
      <h1 class="slogan">MyLearningSpace marking made easy.</h1>
      <ion-button class="login_button">  Get Started  </ion-button>
    </ion-grid>
    </ion-slide>



    

    
  
  

  
    
  </ion-slides>


 


  

  
</ion-content>