.lab-divider {
    background: lightgray;
    color: black;
    font-weight: bold
}

.assignment-divider{
    background: lightgray;
    color: black;
    font-weight: bold
}

.others-divider{
    background: lightgray;
    color: black;
    font-weight: bold
}