<ion-header >
  <ion-toolbar color="secondary">   
    <ion-buttons slot="start" >    
      <ion-menu-button color="tertiary"></ion-menu-button>
    </ion-buttons>   
    <ion-title color="tertiary">Home</ion-title>
  </ion-toolbar>
</ion-header>      

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header color>
        <ion-card-subtitle color="dark">Hey, {{userFirstName}}</ion-card-subtitle>
        <ion-card-title color="dark">Welcome to My<span style="color:#FF9900">TA</span>Space</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p color="dark">Open side menu to see your gradeable courses.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label color="dark">Resources</ion-label>
      </ion-list-header>
      <ion-item href="https://bohr.wlu.ca" color="light">
        <ion-icon slot="start" color="medium" name="code"></ion-icon>
        <ion-label>Bohr</ion-label>
      </ion-item>
      <ion-item href="https://Loris.wlu.ca" color="light">
        <ion-icon slot="start" color="medium" name="ios-information"></ion-icon>
        <ion-label>LORIS</ion-label>
      </ion-item>
      <ion-item href="https://mylearningspace.wlu.ca" color="light">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>MyLearningSpace</ion-label>
      </ion-item>
      <ion-item href="https://scheduleme.wlu.ca" color="light">
        <ion-icon slot="start" color="medium" name="calendar"></ion-icon>
        <ion-label>Visual Schedule Builder</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
